<div class="container my-5">
    <div class="row">
        <%
            products.map(product=>{%>
                <div class="col-sm-6 col-md-4">
                    <div class="product-card">
                        <div class="product-card-img">
                            <img src="<%= product.imageSrc %>" alt="">
                        </div>
                        <div class="product-card-content">
                            <h2 class="name"><%= product.name %></h2>
                            <p class="information"><%= product.information %></p>
                            <p class="price">
                                <strong><%= product.price %></strong>
                            </p>
                        </div>
                        <a href="/cart/add/<%= product._id %>" class="btn btn-primary">Add to cart</a>
                    </div>
                </div>
            <%})
        %>
    </div>
</div>